{% extends 'base.html' %}
{% block title %}Acerca De{% endblock %}
{% block content %}

    <div class="container">


      <div class="jumbotron">
        <h1>Portal Gata</h1>
        <p class="lead"> Portal Gata es un portal de avisos simple, rapido y totalmente gratuito.</p>

      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Gratuito</h4>
          <p>No pagaras un solo peso.</p>

          <h4>Sin publicidad</h4>
          <p>No incluimos publicidad en nuestro sitio.</p>

          <h4>Fácil de usar</h4>
          <p>Publicar en el portal es muy fácil. Solo debes acceder al Dashboard</p>
        </div>

        <div class="col-lg-6">
          <h4>Sin Límites</h4>
          <p>Puedes publicar avisos las veces que quieras.</p>

          <h4>Seguro</h4>
          <p>Tus datos estarán totalmente seguros en nuestros servidores.</p>

          <h4>El mejor</h4>
          <p>Sin duda, el mejor portal.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2017 Samuel Toloza.</p>
      </footer>

    </div> <!-- /container -->

{% endblock %}